:root {
  font-size: 14px;
}

#footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#footer p {
  font-size: 10px;
}

#trades {
  max-width: 100px;
  min-width: 100px;
  min-height: 300px;
  width: 100px;
}

#resultsTable * {
  font-size: inherit;
}

.highlight {
  background-color: #d4f1f4;
}

#chart-description {
  display: none;
  /* margin-top: 50px; */
  /* margin-bottom: 0px; */
  padding: auto;
}

#errors {
  color: red;
}

#wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(0%, 1fr));
  grid-template-rows: repeat(4, 100px);
}

label[for="startEquity"] {
  grid-column: 1/3;
  grid-row: 1 / 1;
}

label[for="margin"] {
  grid-column: 3;
  grid-row: 1 / 1;
}

label[for="lotSize"] {
  grid-column: 1;
  grid-row: 2 /2 ;
}

label[for="nrIterations"] {
  grid-column: 2;
  grid-row: 2;
}

label[for="tradesPerYear"] {
  grid-column: 3;
  grid-row: 2;
}

label[for="trades"] {
  grid-column: 4;
  grid-row: 1 / 4;
}

.buttons {
  grid-column: 1/4;
  grid-row: 3;
  display: flex;
  flex-direction: column;
}

